#text {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 15rem;
}

#author {
  margin-left: 10rem;
  margin-right: 10rem;
}

.app-heading {
  font-size: 4rem;
  margin: 2rem 5rem 0;
}

#quote-box {
  text-align: center;
}

.footnote {
  font-family: Jost;
  font-size: 1.5rem;
}
