body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#new-quote {
  cursor: pointer;
}

.denethor {
  background-color: blueviolet;
  transition: all 1s ease-in-out;
}

.grima {
  background-color: red;
  transition: all 1s ease-in-out;
}

.saruman {
  background-color: beige;
  transition: all 1s ease-in-out;
}

.aragorn {
  background-color: goldenrod;
  transition: all 1s ease-in-out;
}

/* use different background gradients for the background images*/
